@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color--black: #000000;
  --color-dark: #191a23;
  --color-dark-alt: #292a32;
  --color-light: #ffffff;
  --color-gray: #f3f3f3;
  --color-gray-alt: #898989;
  --color-accent: #b9ff66;
  --border: 1px solid var(--color-dark);
  --shadow: 0 5px 0 0 var(--color-dark);
  --border-radius-large: 45px;
  --border-radius-medium: 14px;
  --border-radius-small: 7px;
  --btn-height: 68px;
  --btn-padding: 20px 35px;
  --input-height: 59px;
  --input-padding: 18px 30px;
  --mobile-container-width: 430px;
  --mobile-container-padding-x: 20px;
  --container-width: 1240px;
  --container-padding-x: clamp(20px, 3vw, 100px);
  --section-desktop-padding-y: 70px;
  --section-tablet-padding-y: 50px;
  --section-mobile-padding-y: 30px;
  --font-family-base: 'Space Grotesk', sans-serif;
  --transition-duration: 250ms;
}

@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url("../fonts/SpaceGrotesk-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.5;
}

a,
input,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media screen and (min-width: 1281px) {
  .section {
    padding-block: var(--section-desktop-padding-y);
  }
}
@media screen and (max-width: 1023px) {
  .section {
    padding-block: var(--section-tablet-padding-y);
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-block: var(--section-mobile-padding-y);
  }
}
.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .section__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    text-align: center;
    margin-bottom: 40px;
  }
}
.section__description {
  max-width: 580px;
}

.section--hidden-x {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.btn {
  height: var(--btn-height);
  padding: var(--btn-padding);
  border-radius: var(--border-radius-medium);
  line-height: 1.4;
}

.btn--dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}
@media (hover: hover) {
  .btn--dark:hover {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .btn--dark:active {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-dark);
}
@media (hover: hover) {
  .btn--accent:hover {
    background-color: var(--color-gray);
    color: var(--color-dark-alt);
  }
}
@media (hover: none) {
  .btn--accent:active {
    background-color: var(--color-gray);
    color: var(--color-dark-alt);
  }
}

.btn--light {
  max-width: 231px;
  padding: clamp(10px, 1.39vw, 20px) clamp(15px, 2.43vw, 35px);
  border: var(--border);
  background-color: transparent;
  color: var(--color-dark);
}
@media (hover: hover) {
  .btn--light:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .btn--light:active {
    background-color: var(--color-accent);
  }
}

.mobile-menu__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
}
@media (hover: hover) {
  .mobile-menu__btn:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .mobile-menu__btn:active {
    background-color: var(--color-accent);
  }
}
.mobile-menu__btn {
  border-radius: var(--border-radius-small);
}

.mobile-menu__close::before, .mobile-menu__close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--color-dark);
}
.mobile-menu__close::before {
  rotate: 45deg;
}
.mobile-menu__close::after {
  rotate: -45deg;
}

.burger-btn {
  position: relative;
}
.burger-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  -webkit-box-shadow: 0 -8px, 0 8px;
          box-shadow: 0 -8px, 0 8px;
}

.nav-link {
  position: relative;
  padding-block: 20px;
}
.nav-link::after {
  content: "";
  position: absolute;
  top: 75%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .nav-link:hover {
    color: var(--color-accent);
  }
  .nav-link:hover::after {
    width: 100%;
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .nav-link:active {
    color: var(--color-accent);
  }
  .nav-link:active::after {
    width: 100%;
    background-color: var(--color-accent);
  }
}

.mobile-overlay {
  position: absolute;
  top: 0;
  z-index: 100;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 30px 20px 0;
  border: none;
  opacity: 1;
  background-color: #ffffff;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}

.mobile-menu__wrapper {
  position: relative;
}

.mobile-menu__close {
  position: absolute;
  top: 0;
  right: 2px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  height: 90vh;
}

.mobile-menu__link {
  font-size: 20px;
  line-height: 1.4;
}

.puddle-bg {
  padding-inline: 7px;
  border-radius: var(--border-radius-small);
}

.puddle-bg--accent {
  background-color: var(--color-accent);
}

.puddle-bg--light {
  background-color: var(--color-light);
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media screen and (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}

.header {
  padding-top: 60px;
}
@media screen and (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media screen and (max-width: 1280px) {
  .header__inner {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .header__logo {
    width: 120px;
  }
}
@media screen and (max-width: 1023px) {
  .header__logo {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 144px;
  }
}
.header__menu {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media screen and (max-width: 1280px) {
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

.menu__link {
  font-size: 20px;
  line-height: 1.4;
}
@media screen and (max-width: 1280px) {
  .menu__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 1023px) {
  .menu__link {
    font-size: 16px;
  }
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 109px;
     -moz-column-gap: 109px;
          column-gap: 109px;
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }
}

.hero__content {
  max-width: 531px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 35px;
}
@media screen and (max-width: 767px) {
  .hero__content {
    display: contents;
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    margin-bottom: 10px;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}

.hero__description {
  font-size: clamp(16px, 1.3888888889vw, 20px);
  color: var(--color-dark);
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .hero__description {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero__btn {
    margin-inline: auto;
    width: 100%;
    max-width: 390px;
  }
}

.hero__image {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media screen and (max-width: 1023px) {
  .hero__image {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .hero__image {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}
@media screen and (max-width: 1280px) {
  .partners__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .partners__list {
    --heroPartnersWidthOffsetX: 60px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}

@media screen and (max-width: 1023px) {
  .partners__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .partners__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .partners__item:nth-child(-n+3) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.partners__link {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .partners__link:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (hover: none) {
  .partners__link:active {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.services__list {
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .services__list {
    margin-bottom: 70px;
  }
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  min-height: 310px;
  padding: 50px;
  border: var(--border);
  border-radius: var(--border-radius-large);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}
@media screen and (max-width: 767px) {
  .service-card {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }
}
.service-card--gray {
  background-color: var(--color-gray);
}
.service-card--accent {
  background-color: var(--color-accent);
}
.service-card--dark {
  background-color: var(--color-dark);
}
.service-card--dark .service-card__link {
  color: var(--color-light);
}
.service-card--dark .service-card__link svg {
  color: var(--color-dark);
}
.service-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}
@media screen and (max-width: 767px) {
  .service-card__body {
    display: contents;
  }
}
.service-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media screen and (max-width: 767px) {
  .service-card__title {
    grid-column: -1/1;
  }
}
.service-card__link {
  --serviceCardLinkIconColor: var(--color-accent);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  font-size: 20px;
}
@media (hover: hover) {
  .service-card__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .service-card__link:active {
    opacity: 0.7;
  }
}
@media screen and (max-width: 767px) {
  .service-card__link {
    -ms-flex-item-align: end;
        align-self: end;
  }
}
.service-card__icon {
  -ms-flex-item-align: center;
      align-self: center;
}
@media screen and (max-width: 1280px) {
  .service-card__icon {
    max-width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .service-card__icon {
    min-width: 165px;
    justify-self: end;
  }
}

.link__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.link__icon-wrapper svg {
  color: var(--serviceCardLinkIconColor);
}

@media screen and (max-width: 767px) {
  .link__label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.banner {
  --bannerImageOffsetY: 24px;
  padding-block: var(--bannerImageOffsetY);
}
@media screen and (max-width: 1023px) {
  .banner {
    --bannerImageOffsetY: 0;
  }
}
.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
}
.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 26px;
  padding: 60px;
}
@media screen and (max-width: 1023px) {
  .banner__body {
    padding: 50px;
  }
}
@media screen and (max-width: 767px) {
  .banner__body {
    row-gap: 20px;
  }
}
.banner__description {
  max-width: 500px;
}
.banner__image {
  margin-block: calc(var(--bannerImageOffsetY) * -1);
}
@media screen and (max-width: 1023px) {
  .banner__image {
    max-width: 40%;
    height: auto;
  }
}

.studies {
  padding: 70px 60px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
}
.studies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.studies__item {
  --studiesItemPaddingX: 64px;
}
.studies__item:not(:first-child) {
  padding-left: var(--studiesItemPaddingX);
}
.studies__item:not(:last-child) {
  padding-right: var(--studiesItemPaddingX);
  border-right: 1px solid var(--color-light);
}
.studies__description {
  margin-bottom: 20px;
}
.studies__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  color: var(--color-accent);
  font-size: 20px;
  line-height: 1.4;
}
@media (hover: hover) {
  .studies__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .studies__link:active {
    opacity: 0.7;
  }
}/*# sourceMappingURL=styles.css.map */