@use '../utils/media.scss' as media;
.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;

  @include media.mobile-below {
    gap: 30px;
  }

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }

  &--2 {
    @include media.tablet-below {
      --gridColumns: 1;
    }
  }

  &--3 {
    @include media.desktop-below {
      --gridColumns: 2;
    }

    @include media.mobile-below {
      --gridColumns: 1;
    }
  }
}
