.puddle-bg {
  padding-inline: 7px;
  border-radius: var(--border-radius-small);
}

.puddle-bg--accent {
  background-color: var(--color-accent);
}

.puddle-bg--light {
  background-color: var(--color-light);
}
