@use '../utils/_media.scss' as media;

.section {
  @include media.desktop-above {
    padding-block: var(--section-desktop-padding-y);
  }

  @include media.desktop-below {
    padding-block: var(--section-tablet-padding-y);
  }

  @include media.mobile-below {
    padding-block: var(--section-mobile-padding-y);
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 80px;

    @include media.desktop-below {
      margin-bottom: 50px;
    }

    @include media.mobile-below {
      flex-direction: column;
      row-gap: 30px;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__description {
    max-width: 580px;
  }
}

.section--hidden-x {
  overflow-x: hidden;
}
