$desktop-below: 1280px;
$desktop-above: 1281px;

$tablet-below: 1023px;
$tablet-above: 1024px;

$mobile-below: 767px;
$mobile-above: 768px;

$mobile-s-below: 480px;
$mobile-s-above: 481px;

@mixin desktop-below {
  @media screen and (max-width: $desktop-below) {
    @content;
  }
}
@mixin desktop-above {
  @media screen and (min-width: $desktop-above) {
    @content;
  }
}

@mixin tablet-below {
  @media screen and (max-width: $tablet-below) {
    @content;
  }
}
@mixin tablet-above {
  @media screen and (min-width: $tablet-above) {
    @content;
  }
}

@mixin mobile-below {
  @media screen and (max-width: $mobile-below) {
    @content;
  }
}

@mixin mobile-above {
  @media screen and (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile-s-below {
  @media screen and (max-width: $mobile-s-below) {
    @content;
  }
}

@mixin mobile-s-above {
  @media screen and (min-width: $mobile-s-above) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
