@use '../utils/_mixins.scss' as mixin;
@use '../utils/_media.scss' as media;

.header {
  padding-top: 60px;

  @include media.desktop-below {
    padding-top: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;

    @include media.desktop-below {
      column-gap: 30px;
    }
  }

  &__logo {
    @include media.desktop-below {
      width: 120px;
    }

    @include media.tablet-below {
      width: 100px;
    }
    @include media.mobile-below {
      width: 144px;
    }
  }

  &__menu {
    margin-left: auto;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  column-gap: 40px;

  @include media.desktop-below {
    column-gap: 20px;
  }
}

.menu__link {
  font-size: 20px;
  line-height: calc(28 / 20);

  @include media.desktop-below {
    font-size: 18px;
  }

  @include media.tablet-below {
    font-size: 16px;
  }
}
