@use '../utils/_media.scss' as media;
@use '../utils/_mixins.scss' as mixin;

.team {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__btn {
    align-self: end;
    min-width: 269px;

    @include media.mobile-below {
      align-self: stretch;
    }
  }
}
